apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: clusters.k3k.io
spec:
  group: k3k.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                name:
                  type: string
                version:
                  type: string
                servers:
                  type: integer
                agents:
                  type: integer
                token:
                  type: string
                clusterCIDR:
                  type: string
                serviceCIDR:
                  type: string
                clusterDNS:
                  type: string
                serverArgs:
                  type: array
                  items:
                    type: string
                agentArgs:
                  type: array
                  items:
                    type: string
                tlsSANs:
                  type: array
                  items:
                    type: string
                persistence:
                  type: object
                  properties:
                    type:
                      type: string
                      default: "ephermal"
                    storageClassName:
                      type: string
                    storageRequestSize:
                      type: string
                addons:
                  type: array
                  items:
                    type: object
                    properties:
                      secretNamespace:
                        type: string
                      secretRef:
                        type: string
                expose:
                  type: object
                  properties:
                    ingress:
                      type: object
                      properties:
                        enabled: 
                          type: boolean
                        ingressClassName:
                          type: string
                    loadbalancer:
                      type: object
                      properties:
                        enabled: 
                          type: boolean
                    nodePort:
                      type: object
                      properties:
                        enabled: 
                          type: boolean
            status:
              type: object
              properties:
                overrideClusterCIDR:
                  type: boolean
                clusterCIDR:
                  type: string
                overrideServiceCIDR:
                  type: boolean
                serviceCIDR:
                  type: string
                clusterDNS:
                  type: string
  scope: Cluster
  names:
    plural: clusters
    singular: cluster
    kind: Cluster