on:
  push:
    tags:
    - "v*"

env:
    GH_TOKEN: ${{ github.token }}

name: Release
permissions:
    contents: write
    id-token: write
jobs:
  release-cross-arch:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Cross Arch Build
      run: |
        make ci
      env:
        CROSS: "true"
    
    - name: "Read secrets"
      uses: rancher-eio/read-vault-secrets@main
      with:
        secrets: |
          secret/data/github/repo/${{ github.repository }}/dockerhub/${{ github.repository_owner }}/credentials username | DOCKER_USERNAME ;
          secret/data/github/repo/${{ github.repository }}/dockerhub/${{ github.repository_owner }}/credentials password | DOCKER_PASSWORD ;

    - name: release binaries
      run: |
        gh release upload ${{ github.ref_name }} bin/*
    
    - name: Login to Container Registry
      uses: docker/login-action@v3
      with:
        username: ${{ env.DOCKER_USERNAME }}
        password: ${{ env.DOCKER_PASSWORD }}

    - name: Build controller image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: rancher/k3k:${{ github.ref_name }}
        file: package/Dockerfile
        platforms: linux/amd64
    
    - name: Build Virtual Kubelet image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: rancher/k3k:k3k-kubelet
        file: package/Dockerfile.kubelet
        platforms: linux/amd64

      
        