name: K3K Release
on:
 push:
   tags:
     - "v*"
jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2
      - name: Build K3K
        uses: addnab/docker-run-action@v3
        with:
          registry: docker.io
          image: rancher/dapper:v0.5.5
          options: -v ${{ github.workspace }}:/work
          run: |
            cd /work && dapper ci
      - name: Publish Binaries
        uses: addnab/docker-run-action@v3
        with:
          registry: docker.io
          image: ibuildthecloud/github-release:v0.0.1
          options: -v ${{ github.workspace }}:/work
          run: |
            /bin/drone-github-release --api_key=${{ secrets.TOKEN }} --files /work/bin/* --prerelease true
      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: husseingalal/k3k:${{ github.ref_name }}
          file: ./package/Dockerfile
          context: .
        