name: Validate
on: [pull_request, push]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Install Pandoc
        run: sudo apt-get install pandoc

      - name: Run linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.7.2
          args: -v
          only-new-issues: true
          skip-cache: false

      - name: Run formatters
        run: golangci-lint -v fmt ./...

      - name: Validate
        run: make validate
